@model IEnumerable<Uebungsprojekt.ViewModel.ConnectorTypeEvaluationViewModel>

@{ 
    ViewData["Title"] = "Anteile in Buchungen";
}

<table style="width:100%" class="table table-striped" table-hover">
    
    <thead>
        <tr>
            <th>Anschlusstyp</th>
            <th>Anteil in %</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Evaluation in Model)
        {
            <tr>
                <td>@Evaluation.connectorType</td>
                <td>@Evaluation.Percentage</td>
            </tr>
        }
    </tbody>
</table>
