

body{
  background-color: rgba(221, 237, 221, 0.8);
}

h1{
  text-align: center;
}

.pict{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Beschriftung{
  background-color: #333;
  color: white;
}

.Ungerade{
  background-color: white;
}

.Gerade:hover {
  background-color: rgba(172,172,172,0.9);
}
.Ungerade:hover{
  background-color:rgba(172,172,172,0.9);
}

table{
  margin-left: auto;
  margin-right: auto
}

table, th, td{
  border: 1px
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
