/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
# Design Elements
    ## Table
# Header
# Footer
# Content
    ## Home
    ## Reservations
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    font-size: 14px;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

a {
    color: #0366d6;
}

.page-title {
    text-align: center;
}

/*--------------------------------------------------------------
# Design Elements
--------------------------------------------------------------*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/

/* Booking table */
.TableHeadline {
    justify-content: space-between;
    margin: 1em 0;
}

.TableHeadline p {
    margin: auto 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header nav div.container {
    margin: 0;
    max-width: 100%;
}

header ul.navbar-nav {
    justify-content: end;
}

header a {
    font-size: 1.25em;
    margin: 0 3em;
}

header a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
    margin: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Booking
--------------------------------------------------------------*/

/* Booking Form */
.form-danger-span {
    margin: 0 1em;
}