@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Wilkommen</b></h1>
    <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">
        <img src="~/css/bild.png" />
    </a>
</div>
