@model IEnumerable<Uebungsprojekt.ViewModel.ConnectorTypeEvaluationViewModel>

@{
    ViewData["Title"] = "ConnectorTypeEvaluation";
}
    
<h1 class="page-title">@ViewData["Title"]</h1>

<!-- Only show booking table if there are any bookings to display-->
@if (Model.Any())
{
<table style="width:100%" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Connector Type</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cte in Model)
        {
            <tr>
                <td>@cte.connectorType</td>
                <td>@cte.percentage%</td
            </tr>
        }
    </tbody>
</table>
<!-- Show alternative text if not -->
} else
{
    <p>Noch keine Buchungen vorhanden!</p>
}