@{
    ViewData["Title"] = "Simulation";
    Layout = "_PlanerLayout";
}
<h1 class="page-title">@ViewData["Title"]</h1>
<br />
<form>
    <div><h3><u>Configure Loaction Infrastructure</u></h3></div>
    <br />
    <div class="form-group row">
        <label for=" " class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input type=" " class="form-control" id=" " placeholder="Please enter a valid location">
        </div>
    </div>
    <div class="form-group row">
        <label for=" " class="col-sm-2 col-form-label">Type of Charging Station</label>
        <div class="col-sm-10">
            <input type=" " class="form-control" id=" " placeholder="Please enter the type of Charging Station">
        </div>
    </div>
    <div class="form-group row">
        <label for=" " class="col-sm-2 col-form-label">Count</label>
        <div class="col-sm-10">
            <input type=" " class="form-control" id=" " placeholder="Please enter the number of Charging Stations">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <abbr title="Add Charging Station">
                <button type="submit" class="btn btn-outline-primary submit" style="padding-bottom: 0;">
                    <span class="material-icons">add_box</span>
                </button>
            </abbr>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-11">
            <abbr title="Back">
                <a class="btn btn-outline-primary ml-1" asp-area="" asp-controller="Home" asp-action="SimulationVehicle"><span class="material-icons">arrow_left</span></a>
            </abbr>
        </div>
        <div class="col-sm-1">
            <abbr title="Next">
                <a class="btn btn-outline-primary ml-1 submit" asp-area="" asp-controller="Home" asp-action="SimulationSettings"><span class="material-icons">arrow_right</span></a>
            </abbr>
        </div>
    </div>
</form>