@model IEnumerable<Uebungsprojekt.Models.ChargingColumnType>

@{
    ViewData["Title"] = "Charging Column Types";
    Layout = "_PlanerLayout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="container TableHeadline">
    <div>
        <div class="row">
            <div class="col-10">
                <p>Overview: </p>
            </div>
            <div class="col-2">
                <abbr title="Create new Booking">
                    <a class="btn btn-primary submit" asp-area="" asp-controller="Administration" asp-action="CreateChargingColumnType">
                        <span class="material-icons">add_box</span>
                    </a>
                </abbr>
            </div>
        </div>
        <div class="row">
            <span id="import_form_span" class="text-danger form-danger-span d-none">Please select a .json file with max. 1MB for importing booking entries.</span>
        </div>
    </div>
</div>

<table id="booking-table" style="width:100%" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Max Concurrent Charging (in kW)</th>
            <th>Manufacturer</th>
            <th>Connector Types</th>
        </tr>
    </thead>
</table>
