@model Vehicle
@{
    ViewData["Title"] = "Create Vehicle";
    Layout = "_PlanerLayout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<form asp-controller="Administration" asp-action="CreateVehicle" method="post">
    <div class="form-group row">
        <label for="model_name" class="col-2 col-form-label">Model:</label>
        <input asp-for="model_name" class="col-10 form-control"><br />
    </div>
    <div class="form-group row">
        <label for="capacity" class="col-2 col-form-label">Battery Capacity (in kWh):</label>
        <input asp-for="capacity" class="col-10 form-control"><br />
    </div>
    <div class="form-group row">
        <fieldset>
            <legend>ConnectorType(s):</legend>
            <br />
            @foreach (ConnectorType connector in (ConnectorType[])Enum.GetValues(typeof(ConnectorType)))
            {
                <input class="" onclick="var input = document.getElementById('charger_capacity + @connector + 1'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}"  type="checkbox" id="@connector" />
                <label class="">@connector</label>
                <input class="" id="charger_capacity + @connector + 1" type="number" placeholder="Charger Capacity (in kW)" disabled="disabled"/>
                <input onclick="var input = document.getElementById('charger_capacity + @connector + 2'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}"  type="checkbox" id="hasOptionalCC + @connector"/>
                <input class="" id="charger_capacity + @connector + 2" type="number" placeholder="opt. Charger Capacity (in kW)" disabled="disabled"/>
                <br />
                <br />
            }
        </fieldset>
    </div>
    <div class="row">
        <button class="btn btn-outline-primary col-12" type="submit">Create</button>
    </div>
</form>