@model Uebungsprojekt.ViewModel.Administration.CreateChargingZoneViewModel

@{
    ViewData["Title"] = "Create Charging Zone";
    Layout = "_PlanerLayout";
}

<h1 style="margin-bottom: 0;">Create Charging Zone</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Administration" asp-action="CreateSimulationChargingZone" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name*:</label>
                    <div class="col-1"></div>
                    <input id="name" asp-for="chargingzone.name" type="text" class="col-9 form-control"><br />
                </div>
                <div class="form-group row">
                    <label asp-for="chargingzone.overall_performance" class="control-label col-7"><b>Overall Performance (in kW):</b></label>
                    <div class="col-1"></div>
                    <input asp-for="chargingzone.overall_performance" type="number" class="form-control col-4" />
                    <span asp-validation-for="chargingzone.overall_performance" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label for="location_id" class="col-2 col-form-label">Location:</label>
                    <div class="col-1"></div>
                    <select class="col-9" name="location_id" id="location_id">
                        @if (Model.location.Any())
                        {
                            @foreach (var location in Model.location)
                            {
                                <option value="@location.id">@location.city</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="SimulationInfrastructure">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}