@model Uebungsprojekt.ViewModel.Administration.CreateChargingZoneViewModel

@{
    ViewData["Title"] = "Create Charging Zone";
}

<h1>Create Charging Zone</h1>

<h4>Charging Zone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSimulationChargingZone">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name*:</label>
                <input id="name" asp-for="chargingzone.name" type="text" class="col-10 form-control"><br />
            </div>
            <div class="form-group">
                <label asp-for="chargingzone.overall_performance" class="control-label">Overall Performance (in kW)</label>
                <input asp-for="chargingzone.overall_performance" type="number" class="form-control" />
                <span asp-validation-for="chargingzone.overall_performance" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="location_id" class="col-2 col-form-label">Location:</label>
                <select name="location_id" id="location_id">
                    @if (Model.location.Any())
                    {
                        @foreach (var location in Model.location)
                        {
                            <option value="@location.id">@location.city</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Infrastructure">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}