@{
    ViewData["Title"] = "Home";
    Layout = "_PlanerLayout";
}

<h1 class="page-title">@ViewData["Title"]</h1>
<br>
<h3><i>Welcome to the AdministrationDashboard. You can: </i></h3>
<ol style="list-style-type: circle">
    <li><h5>Configure, run, track and evaluate Simulations</h5></li>
    <li><h5>Configure Infrastructure</h5></li>
    <li><h5>Configure Vehicles</h5></li>
    <li><h5>Configure Charging Column Types</h5></li>
    <li><h5>Go back to the UserDashboard</h5></li>
</ol>


