@model Uebungsprojekt.Models.SimulationConfig
﻿@{
    ViewData["Title"] = "Simulation";
    Layout = "_PlanerLayout";
}
<h1 class="page-title">@ViewData["Title"]</h1>
<br />
<form asp-controller="Administration" asp-action="SimulationConfig">
    <div><h3><u>Booking Distribution</u></h3></div>
    <br />
    <div class="form-group row">
        <label for="StateOfCharge" class="col-2 col-form-label">Tick minutes:</label>
        <input id="StateOfCharge" class="col-10 form-control" asp-for="tick_minutes"><br />
        <span asp-validation-for="tick_minutes" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="NeededDistance" class="col-2 col-form-label">Min:</label>
        <input id="NeededDistance" class="col-10 form-control" asp-for="min"><br />
        <span asp-validation-for="min" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="StartTime" class="col-2 col-form-label">Max:</label>
        <input id="StartTime" class="col-10 form-control" asp-for="max"><br />
        <span asp-validation-for="max" class="text-danger form-danger-span"></span>
    </div>
    <!-- Tickrate -->
    <br />
    <div class="form-group row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
            <abbr title="Next">
                <button class="btn btn-outline-primary ml-1 submit" type="submit"><span class="material-icons">arrow_right</span></button>
            </abbr>
        </div>
    </div>
</form>
