@model Uebungsprojekt.ViewModel.Administration.SimulationConfigViewModel

<form asp-controller="Administration" asp-action="SimulationInfrastructure" method="post">
    <div class="row">
        <button id="create-booking-btn" class="btn btn-success col-12" type="submit">Infrastructure</button>
    </div>
</form>