@model Uebungsprojekt.ViewModel.Administration.SimulationInfrastructureViewModel

 <form asp-controller="Administration" asp-action="Simulation" method="post">
     <div class="row">
         <button id="create-booking-btn" class="btn btn-success col-12" type="submit">Simulation</button>
     </div>
 </form>