@model Uebungsprojekt.Models.SimulationConfig
﻿@{
    ViewData["Title"] = "Simulation";
    Layout = "_PlanerLayout";
}
<h1 class="page-title">@ViewData["Title"]</h1>
<br />
<form asp-controller="Administration" asp-action="SimulationConfig">
    <div><h3><u>Booking Distribution</u></h3></div>
    <br />
    <div class="form-group row">
        <label for="TickMinutes" class="col-2 col-form-label">Tick minutes:</label>
        <input id="TickMinutes" class="col-10 form-control" asp-for="tick_minutes"><br />
        <span asp-validation-for="tick_minutes" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="Min" class="col-2 col-form-label">Min:</label>
        <input id="Min" class="col-10 form-control" asp-for="min"><br />
        <span asp-validation-for="min" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="Max" class="col-2 col-form-label">Max:</label>
        <input id="Max" class="col-10 form-control" asp-for="max"><br />
        <span asp-validation-for="max" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="Spread" class="col-2 col-form-label">Spread:</label>
        <input id="Spread" class="col-10 form-control" asp-for="spread"><br />
        <span asp-validation-for="spread" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="Weeks" class="col-2 col-form-label">Weeks:</label>
        <input id="Weeks" class="col-10 form-control" asp-for="weeks"><br />
        <span asp-validation-for="weeks" class="text-danger form-danger-span"></span>
    </div>
    <div class="row">
        <button class="btn btn-outline-primary col-12" asp-area="" asp-controller="Administration" asp-action="AddSimulationVehicle" type="submit" formmethod="get">Add Vehicle</button>
    </div>
    <table id="booking-table" style="width:100%" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.vehicles.Any())
            {
                @foreach (var vehicle in Model.vehicles)
                {
                    <tr>
                        <td>@vehicle.id</td>
                        <td>@vehicle.model_name</td>
                        <td>@Html.ActionLink("Delete", "DeleteSimulationVehicle", new { id = vehicle })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <div class="form-group row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
            <abbr title="Next">
                <button class="btn btn-outline-primary ml-1 submit" type="submit"><span class="material-icons">arrow_right</span></button>
            </abbr>
        </div>
    </div>
</form>
