@{
    ViewData["Title"] = "Booking";
}

@model Booking

<h4>Buchung erfassen:</h4>

<form asp-controller="Booking" asp-action="Create" method="post">
    @*Ausfüllbare Maske für das Hinzufügen von Buchungen*@
    <div class="numbers">
        <input type="number" class="Booking" id="charge" name="charge" placeholder="Enter charge" asp-for="charge">
        <input type="number" class="Booking" id="needed_distance" name="needed_distance" placeholder="Enter needed distance" asp-for="needed_distance">
    </div>
    <div class="date_time">
        <input type="datetime" class="Booking" id="start_time" name="start_time" placeholder="Start (DD.MM.YYYY HH:MM)" asp-for="start_time">
        <input type="datetime" class="Booking" id="end_time" name="end_time" placeholder="End (DD.MM.YYYY HH:MM)" asp-for="end_time">
    </div>
    @*Button zum bestätigen*@
    <button type="submit" class="btn btn-primary">Submit</button>
</form>