@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MHP</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/final_Style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
            z-index: 1;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container container-nav">
                <div class="row">
                    <div class="text-logo">MHP: DRIVEN BY EXCELLENCE</div>

                    <div class="w-100"></div>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark home" asp-area="" asp-controller="Administration" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark home" asp-area="" asp-controller="Administration" asp-action="Bookings">Bookings</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a class="nav-link text-dark viewselection" asp-area="" asp-controller="Administration" asp-action="SimulationConfig">Simulation</a>
                                    <div class="dropdown-content">
                                        <a class="nav-link text-dark viewselection" asp-controller="administration" asp-action="SimulationConfig">Simulation Configuration</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="AddSimulationVehicle">Simulation Vehicles</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="AddRushHours">Simulation Rush Hours</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="SimulationInfrastructure">Simulation Infrastructure</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="Simulation">Simulation</a>
                                        <br />
                                    </div>
                                </div>
                            </li>
                            @*<li class="nav-item">
            <a class="nav-link text-dark viewselection" asp-controller="administration" asp-action="Configuration">Configuration</a>
        </li>*@
                            <li>
                                <div class="dropdown">
                                    <a class="nav-link text-dark viewselection">Configuration</a>
                                    <div class="dropdown-content">
                                        <a class="nav-link text-dark viewselection" asp-controller="administration" asp-action="infrastructure">infrastructure</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="Vehicles">Vehicles</a>
                                        <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="ChargingColumnType">CCType</a>
                                        <br />
                                    </div>
                                </div>
                            </li>
                            @*<li class="nav-item">
            <a class="nav-link text-dark viewselection" asp-controller="administration" asp-action="infrastructure">infrastructure</a>
        </li>*@
                            @*<li class="nav-item">
            <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="Vehicles">Vehicles</a>
        </li>*@
                            @*<li class="nav-item">
            <a class="nav-link text-dark viewselection" asp-controller="Administration" asp-action="ChargingColumnType">CCType</a>
        </li>*@
                            <li class="nav-item">
                                <a class="nav-link text-dark viewselection" asp-controller="UserDashboard" asp-action="Index">
                                    User |
                                    <i>Admin</i>
                                </a>
                            </li>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "LoggedIn")).Succeeded)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark home" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark home" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/MHP_Logo_RGB.png" class="rounded float-right img-fluid" alt="MHP – A Porsche Company" /></a> <!-- logo -->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Uebungsprojekt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
        -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
