@model Uebungsprojekt.ViewModel.Home.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_PlanerLayout";
}

<h1 class="page-title text-danger">@ViewData["Title"]</h1>

<h2>@Model.ErrorMessage</h2>