@model Booking
@{
    ViewData["Title"] = "Create Booking";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<!-- Form Tag Helper in order to prevent cross-site request forgery -->
<form asp-controller="Booking" asp-action="Create" method="post">
    <div class="form-group row">
        <label for="StateOfCharge" class="col-2 col-form-label">Current state of charge:</label>
        <input id="StateOfCharge" class="col-10 form-control" asp-for="start_state_of_charge"><br />
        <span asp-validation-for="start_state_of_charge" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="NeededDistance" class="col-2 col-form-label">Target state of charge:</label>
        <input id="NeededDistance" class="col-10 form-control" asp-for="target_state_of_charge"><br />
        <span asp-validation-for="target_state_of_charge" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="StartTime" class="col-2 col-form-label">Start time:</label>
        <input id="StartTime" class="col-10 form-control" asp-for="start_time"><br />
        <span asp-validation-for="start_time" class="text-danger form-danger-span"></span>
    </div>
    <div class="form-group row">
        <label for="EndTime" class="col-2 col-form-label">End time:</label>
        <input id="EndTime" class="col-10 form-control" asp-for="end_time"><br />
        <span asp-validation-for="end_time" class="text-danger form-danger-span"></span>
    </div>
    <!--
    <div class="form-group row">
        <label for="ConnectorType" class="col-2 col-form-label">Vehicle:</label>
        <select id="ConnectorType" class="col-10 form-control" asp-for="vehicle" asp-items="Html.GetEnumSelectList<ConnectorType>()"></select><br />
        <span asp-validation-for="vehicle" class="text-danger form-danger-span"></span>
    </div>
        -->
    <div class="row">
        <button id="create-booking-btn" class="btn btn-success col-12" type="submit">Create</button>
    </div>
</form>

<!-- Enable client side validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}