@model Uebungsprojekt.ViewModel.UserDashboard.CreateVehicleViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Create Vehicle";
    Layout = "_Layout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<form asp-controller="UserDashboard" asp-action="CreateVehicle" method="post">
    <div class="form-group row">
        <label for="model_name" class="col-2 col-form-label">Model:</label>
        <input asp-for="vehicle.model_name" class="col-10 form-control"><br />
    </div>
    <div class="form-group row">
        <label for="capacity" class="col-2 col-form-label">Battery Capacity (in kWh):</label>
        <input asp-for="vehicle.capacity" class="col-10 form-control"><br />
    </div>
    <div class="form-group row">
        <label for="connector_types" class="col-2 col-form-label"><abbr title="Select multiple by holding CTRL + Left Click">Connector Types:</abbr></label>
        <select multiple asp-for="vehicle.connector_types" id="connector_types" class="col-10 form-control" asp-items="Html.GetEnumSelectList<ConnectorType>()"></select><br />
    </div>

    @if ((await AuthorizationService.AuthorizeAsync(User, "Assistant")).Succeeded)
    {
        <div class="form-group row">
            <label for="eindeutige_benutzernummer" class="col-2 col-form-label">User:</label>
            <select name="eindeutige_benutzernummer" id="eindeutige_benutzernummer">
                @if (Model.users.Any())
                {
                    @foreach (var user in Model.users)
                    {
                        <option value="@user.id">@user.name + (@user.email)</option>
                    }
                }
                else
                {
                    <option>--No Users available--</option>
                }
            </select>
        </div>
    }

    <div class="row">
        <button class="btn btn-outline-primary col-12" type="submit">Create</button>
    </div>
</form>