@model Uebungsprojekt.ViewModel.Administration.InfrastructureViewModel
@{
    ViewData["Title"] = "Infrastructure";
    Layout = "_Layout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<table id="booking-table" style="width:100%" class="table">
    <thead class="thead-light">
        <tr>
            <th><h4>Location</h4></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model.locations)
        {
            <tr>
                @*<td>Location A</td>*@
                <td><h4>@location.city</h4></td>
                <td>
                    <table class="table-borderless">
                        <tr>
                            <th class="table-hr">Charging Zone</th>
                            <th></th>
                        </tr>
                        @foreach (ChargingZone chargingZone in Model.charging_zones)
                        {
                            @if (chargingZone.location.id == location.id)
                            {
                                <tr>
                                    <td>@chargingZone.name</td>
                                    <td>
                                        <table class="table-borderless">
                                            <tr>
                                                <th class="table-hr">Charging Column</th>
                                            </tr>
                                            @foreach (ChargingColumn chargingColumn in Model.charging_columns)
                                            {
                                                @if (chargingColumn.charging_zone.id == chargingZone.id)
                                                {
                                                    <tr>
                                                        <td>@chargingColumn.charging_column_type_id.model_name</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </td>

                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
