@model Uebungsprojekt.ViewModel.Administration.InfrastructureViewModel
@{
    ViewData["Title"] = "Infrastructure";
    Layout = "_Layout";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-12">
        <div class="row submit">
            <form id="import_form" asp-controller="Administration" asp-action="Import" enctype="multipart/form-data" method="post">
                <input id="json_files" class="btn btn-primary d-none" size="1" name="json_files" type="file" accept=".json" onchange="importJson()" />
                <abbr title="Import">
                    <div class="btn btn-outline-primary ml-1 submit" onclick="toggleImport()"><span class="material-icons">publish</span></div>
                </abbr>
            </form>
            <abbr title="Export">
                <a class="btn btn-outline-primary ml-1 submit" asp-area="" asp-controller="Administration" asp-action="Export"><span class="material-icons">get_app</span></a>
            </abbr>
        </div>
        <div class="row">
            <span id="import_form_span" class="text-danger form-danger-span d-none">Please select a .json file with max. 1MB for importing booking entries.</span>
        </div>
    </div>
</div>



<table id="booking-table" style="width:100%" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Location</th>
            <th></th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model.locations)
        {
            <tr>
                @*<td>Location A</td>*@
                <td>@location.city</td>
                <td>
                    <table class="table-borderless">
                        <tr>
                            <th>Charging Zone</th>
                            <th></th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Add</th>
                        </tr>
                        @foreach (ChargingZone chargingZone in Model.charging_zones)
                        {
                            @if (chargingZone.location.id == location.id)
                            {
                                <tr>
                                    <td>Ladezone @chargingZone.id</td>
                                    <td>
                                        <table class="table-borderless">
                                            <tr>
                                                <th>Charging Column</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>Add</th>
                                            </tr>
                                            @foreach (ChargingColumn chargingColumn in Model.charging_columns)
                                            {
                                                @if (chargingColumn.charging_zone.id == chargingZone.id)
                                                {
                                                    <tr>
                                                        <td>Ladesäule @chargingColumn.id</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </td>

                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
